<div class="pageyaml_dropdown">
    <button class="pageyaml_dropbtn"><span class="icon"></span>{{ 'pageyaml.global.name'|trans({}, 'contao_default') }}</button>

    <div class="pageyaml_dropdown-content">
        <a href="contao?do=page&{{ href }}&import">{{ 'pageyaml.global.import'|trans({}, 'contao_default') }}</a>
    </div>
</div>