<div class="pageyaml_dropdown">
    <button class="pageyaml_dropbtn"><span class="icon"></span>PageYAML</button>

    <div class="pageyaml_dropdown-content">
        <a href="contao?do=page&{{ href }}&import">Import</a>
    </div>
</div>